form {
  margin-top: 3rem;
  padding-left: 8rem;
}
form input[name="city"] {
  background-color: transparent !important;
  border-radius: 0;
  color: black;
  border: 0;
  border-bottom: 2px solid black;
}
form input:focus {
  background-color: transparent !important;
  box-shadow: none !important;
}
